# Dummy Dataset For Used Car Website

In [3]:
!pip install faker

Requirement already satisfied: faker in c:\users\lenovo\anaconda3\lib\site-packages (26.0.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\lenovo\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [4]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\users\lenovo\anaconda3\lib\site-packages (0.8.10)

In [5]:
from faker import Faker
from tabulate import tabulate
import random
from datetime import datetime, timedelta
import csv

In [12]:
FAKER = Faker('id_ID')

### Fuction to extract csv file into dictionary

In [19]:
def csv_to_dict(filename):
    """
    Fungsi untuk ekstrak file csv menjadi list of dictionary

    arg:
        - filename (str) : nama file csv yang akan dibuka
    return:
        - data  (list) :  list of dictionary
    """

    # open csv file
    with open(f'{filename}', mode='r', encoding='utf-8-sig') as file:
        csv_reader = csv.DictReader(file)

        # save it in the form of a list of dictionaries
        data = {}
        for row in csv_reader:
            for key, value in row.items():
                # setdefault() to add key to result_dict
                # The value of the key is filled with an empty list first
                # empty list is filled with the append method per row of data
                data.setdefault(key, []).append(value)

    return data

### Function to show table

In [20]:
def show_data(table):
    """
    Fungsi untuk menampilkan data

    arg:
        - table (dict) : data dictionary yang ingin ditampilkan

    return:
        None
    """

    tab = tabulate(tabular_data = table,
                   headers = table.keys(),
                   tablefmt = "psql",
                   numalign = "center")
    print(tab)

## Dummy dataset 
There are 6 following tables that are gonna be made in order.
1. cities
2. users
3. cars
4. advertisements
5. bids
6. bid_details

### 1. Dummy data tabel cities

In [21]:
city_table = csv_to_dict('cities.csv')
show_data(city_table)

+-----------+----------------------+---------------------------+
|  city_id  | city_name            | location                  |
|-----------+----------------------+---------------------------|
|   3171    | Kota Jakarta Pusat   | (106.834091, -6.186486)   |
|   3172    | Kota Jakarta Utara   | (106.774124, -6.121435)   |
|   3173    | Kota Jakarta Barat   | (106.813301, -6.1352)     |
|   3174    | Kota Jakarta Selatan | (106.814095, -6.300641)   |
|   3175    | Kota Jakarta Timur   | (106.895859, -6.264451)   |
|   3573    | Kota Malang          | (112.626503, -7.981894)   |
|   3578    | Kota Surabaya        | (112.734398, -7.289166)   |
|   3471    | Kota Yogyakarta      | (110.368797, -7.797224)   |
|   3273    | Kota Bandung         | (107.6098111, -6.9147444) |
|   1371    | Kota Padang          | (100.3530556, -0.95)      |
|   1375    | Kota Bukittinggi     | (100.3691667, -0.3055556) |
|   6471    | Kota Balikpapan      | (116.8278833, -1.2635389) |
|   6472    | Kota Samarinda       | (117.153801, -0.502183)   |
|   7371    | Kota Makassar        | (119.4166667, -5.1333333) |
|   5171    | Kota Denpasar        | (115.222099, -8.65629)    |
+-----------+----------------------+---------------------------+

### 2. Dummy data tabel users

In [22]:
def generate_name(n_name):
    """
    Fungsi untuk membuat dummy names

    args:
    - n_name (int): jumlah data nama yang ingin dibuat

    returns:
    names (list): list nama yang sudah dibuat
    """

    names = list()

    while len(names) < n_name:

        first_name = FAKER.first_name()
        last_name = FAKER.last_name()

        full_name = (f'{first_name} {last_name}')
        if full_name not in names:
            names.append(full_name)

    return names

In [31]:
def users_generator(n_user, is_print):
    """
    Fungsi untuk membuat dummy dataset tabel users
    header:
        - user_id
        - city_id
        - name
        - e-mail
        - phone_number
        - address

    args:
        - n_user (int) : Jumlah user yang akan dibuat

    return:
        - table  (list)  
    """

    # Create table
    table = {}
    table["user_id"] = [i+1 for i in range(n_user)]
    table['city_id'] = [random.choice(city_table['city_id']) for i in range(n_user)]
    names = generate_name(n_user)
    table['name'] = [f"{name.title()}" \
                      for name in names]
    table['email'] = [f"{name.lower().replace(' ', '')}@{FAKER.free_email_domain()}" \
                      for name in names]
    table['phone_number'] = [FAKER.phone_number() for i in range(n_user)]
    table['address'] = [FAKER.street_address() for i in range(n_user)]
    lat_log = [FAKER.local_latlng(country_code = 'ID', coords_only = True) for i in range(n_user)]
    
    # Print table
    if is_print:
        show_data(table)

    return table

In [56]:
user_table = users_generator(40, True)

+-----------+-----------+-------------------+------------------------------+---------------------+-------------------------------+
|  user_id  |  city_id  | name              | email                        | phone_number        | address                       |
|-----------+-----------+-------------------+------------------------------+---------------------+-------------------------------|
|     1     |   3171    | Cagak Januar      | cagakjanuar@gmail.com        | +62 (062) 796 0747  | Gg. Pelajar Pejuang No. 0     |
|     2     |   5171    | Sakti Halim       | saktihalim@gmail.com         | 087 314 2045        | Gg. BKR No. 02                |
|     3     |   3173    | Amelia Kusumo     | ameliakusumo@gmail.com       | +62-91-056-4392     | Gg. Laswi No. 493             |
|     4     |   3173    | Kasusra Wibisono  | kasusrawibisono@hotmail.com  | +62-80-199-7548     | Jalan Dr. Djunjunan No. 6     |
|     5     |   3171    | Salman Hutapea    | salmanhutapea@yahoo.com      | +62-0457-500-2793   | Jl. Pasteur No. 6             |
|     6     |   7371    | Daliman Sudiati   | dalimansudiati@yahoo.com     | +62 (0445) 740-3503 | Jl. Pasir Koja No. 595        |
|     7     |   3173    | Kamila Hasanah    | kamilahasanah@yahoo.com      | +62 (028) 765 4935  | Jalan Pasteur No. 794         |
|     8     |   7371    | Bakianto Sitorus  | bakiantositorus@gmail.com    | (047) 550-3615      | Gg. Stasiun Wonokromo No. 068 |
|     9     |   3173    | Garda Wahyuni     | gardawahyuni@yahoo.com       | 081 810 4658        | Gang Kutai No. 96             |
|    10     |   3471    | Nyana Purnawati   | nyanapurnawati@hotmail.com   | +62-952-512-7024    | Jl. Rajawali Barat No. 900    |
|    11     |   3573    | Okta Saragih      | oktasaragih@gmail.com        | (0933) 970 1473     | Gg. Kendalsari No. 3          |
|    12     |   3174    | Umi Gunarto       | umigunarto@yahoo.com         | +62-601-141-0029    | Jl. Kapten Muslihat No. 848   |
|    13     |   3573    | Emin Suwarno      | eminsuwarno@yahoo.com        | +62-794-912-4352    | Gg. Jamika No. 239            |
|    14     |   3173    | Ajimat Fujiati    | ajimatfujiati@hotmail.com    | +62 (0694) 712-5356 | Jalan Bangka Raya No. 920     |
|    15     |   3172    | Endah Sihombing   | endahsihombing@yahoo.com     | (090) 828 4760      | Jl. Ronggowarsito No. 74      |
|    16     |   3173    | Viman Oktaviani   | vimanoktaviani@gmail.com     | +62 (687) 435 6696  | Jalan Jend. A. Yani No. 12    |
|    17     |   3172    | Caket Namaga      | caketnamaga@yahoo.com        | +62 (101) 425-5423  | Gg. Jend. A. Yani No. 77      |
|    18     |   5171    | Samsul Marpaung   | samsulmarpaung@yahoo.com     | (044) 730-0727      | Gg. Medokan Ayu No. 850       |
|    19     |   1375    | Asirwanda Uyainah | asirwandauyainah@hotmail.com | +62 (0007) 453-4528 | Gg. Lembong No. 81            |
|    20     |   5171    | Wage Marpaung     | wagemarpaung@hotmail.com     | +62 (0203) 417 5504 | Gang Merdeka No. 780          |
|    21     |   3573    | Edward Dongoran   | edwarddongoran@gmail.com     | +62-056-993-8704    | Gang Rungkut Industri No. 026 |
|    22     |   3171    | Sabar Wacana      | sabarwacana@gmail.com        | 085 202 2478        | Gang Ronggowarsito No. 400    |
|    23     |   3175    | Bakijan Usamah    | bakijanusamah@hotmail.com    | (0303) 646-4286     | Gang Ciwastra No. 681         |
|    24     |   3573    | Drajat Pradipta   | drajatpradipta@yahoo.com     | +62 (85) 237-8599   | Jalan Astana Anyar No. 87     |
|    25     |   7371    | Kusuma Wacana     | kusumawacana@yahoo.com       | 0876754127          | Jl. Rajawali Timur No. 412    |
|    26     |   1371    | Uli Suryatmi      | ulisuryatmi@hotmail.com      | +62-0914-863-7173   | Jalan Merdeka No. 382         |
|    27     |   3175    | Teddy Januar      | teddyjanuar@hotmail.com      | (0243) 465 9556     | Gg. Cikapayang No. 65         |
|    28     |   3573    | Padmi Setiawan    | padmisetiawan@gmail.com      | +62 (049) 081-4783  | Gg. Kutisari Selatan No. 2    |
|    29     |   1375    | Dadi Kusmawati    | dadikusmawati@yahoo.com      | +62 (093) 357 5387  | Gg. Rajawali Barat No. 480    |
|    30     |   3175    | Najib Yuniar      | najibyuniar@gmail.com        | +62 (049) 469 6642  | Gg. Merdeka No. 6             |
|    31     |   3172    | Edward Lazuardi   | edwardlazuardi@gmail.com     | +62 (0201) 992-9889 | Jalan Pasirkoja No. 8         |
|    32     |   3471    | Yance Tampubolon  | yancetampubolon@yahoo.com    | +62 (62) 020-4065   | Jalan W.R. Supratman No. 622  |
|    33     |   3174    | Hilda Hastuti     | hildahastuti@gmail.com       | +62 (073) 904 8551  | Jl. Cihampelas No. 16         |
|    34     |   3174    | Patricia Wahyuni  | patriciawahyuni@gmail.com    | (048) 168 8559      | Gg. Indragiri No. 263         |
|    35     |   3173    | Rahmi Pertiwi     | rahmipertiwi@gmail.com       | +62 (01) 435-1167   | Jalan Waringin No. 091        |
|    36     |   3175    | Tari Januar       | tarijanuar@gmail.com         | +62 (062) 203 8120  | Gg. Yos Sudarso No. 8         |
|    37     |   3273    | Alika Maheswara   | alikamaheswara@gmail.com     | 0886946625          | Jalan Cikapayang No. 80       |
|    38     |   3173    | Humaira Pertiwi   | humairapertiwi@gmail.com     | +62-0374-296-6423   | Gang Rajawali Barat No. 87    |
|    39     |   3573    | Raihan Permadi    | raihanpermadi@yahoo.com      | +62-19-210-4009     | Jalan Monginsidi No. 3        |
|    40     |   3175    | Garan Najmudin    | garannajmudin@gmail.com      | +62 (11) 812-3360   | Jl. Soekarno Hatta No. 316    |
+-----------+-----------+-------------------+------------------------------+---------------------+-------------------------------+

### 3. Dummy data tabel cars

In [57]:
car_csv = csv_to_dict('cars.csv')
show_data(car_csv)

+----------+----------+-----------------+-------------+--------+-----------+
|  car_id  | brand    | model           | body_type   |  year  |   price   |
|----------+----------+-----------------+-------------+--------+-----------|
|    1     | Toyota   | Toyota Yaris    | Hatchback   |  2016  | 175000000 |
|    2     | Toyota   | Toyota Yaris    | Hatchback   |  2018  | 215000000 |
|    3     | Toyota   | Toyota Yaris    | Hatchback   |  2014  | 162000000 |
|    4     | Toyota   | Toyota Yaris    | Hatchback   |  2020  | 220000000 |
|    5     | Toyota   | Toyota Yaris    | Hatchback   |  2012  | 124000000 |
|    6     | Toyota   | Toyota Agya     | Hatchback   |  2019  | 114000000 |
|    7     | Toyota   | Toyota Agya     | Hatchback   |  2014  | 97000000  |
|    8     | Toyota   | Toyota Agya     | Hatchback   |  2016  | 110000000 |
|    9     | Toyota   | Toyota Agya     | Hatchback   |  2022  | 155500000 |
|    10    | Toyota   | Toyota Agya     | Hatchback   |  2017  | 115500000 |
|    11    | Toyota   | Toyota Calya    | Wagon       |  2019  | 130000000 |
|    12    | Toyota   | Toyota Calya    | Wagon       |  2019  | 137000000 |
|    13    | Toyota   | Toyota Calya    | Wagon       |  2017  | 115500000 |
|    14    | Toyota   | Toyota Calya    | Wagon       |  2016  | 104000000 |
|    15    | Toyota   | Toyota Calya    | Wagon       |  2016  | 107000000 |
|    16    | Daihatsu | Daihatsu Ayla   | Hatchback   |  2016  | 83000000  |
|    17    | Daihatsu | Daihatsu Ayla   | Hatchback   |  2019  | 120000000 |
|    18    | Daihatsu | Daihatsu Ayla   | Hatchback   |  2015  | 96000000  |
|    19    | Daihatsu | Daihatsu Ayla   | Hatchback   |  2017  | 115000000 |
|    20    | Daihatsu | Daihatsu Ayla   | Hatchback   |  2017  | 113000000 |
|    21    | Daihatsu | Daihatsu Terios | SUV         |  2018  | 190000000 |
|    22    | Daihatsu | Daihatsu Terios | SUV         |  2022  | 223000000 |
|    23    | Daihatsu | Daihatsu Terios | SUV         |  2019  | 189900000 |
|    24    | Daihatsu | Daihatsu Terios | SUV         |  2017  | 166000000 |
|    25    | Daihatsu | Daihatsu Terios | SUV         |  2018  | 201000000 |
|    26    | Daihatsu | Daihatsu Xenia  | MPV         |  2019  | 170000000 |
|    27    | Daihatsu | Daihatsu Xenia  | MPV         |  2022  | 220500000 |
|    28    | Daihatsu | Daihatsu Xenia  | MPV         |  2017  | 135000000 |
|    29    | Daihatsu | Daihatsu Xenia  | MPV         |  2014  | 100000000 |
|    30    | Daihatsu | Daihatsu Xenia  | MPV         |  2018  | 159000000 |
|    31    | Honda    | Honda Jazz      | Hatchback   |  2018  | 236000000 |
|    32    | Honda    | Honda Jazz      | Hatchback   |  2019  | 250000000 |
|    33    | Honda    | Honda Jazz      | Hatchback   |  2018  | 216000000 |
|    34    | Honda    | Honda Jazz      | Hatchback   |  2015  | 192000000 |
|    35    | Honda    | Honda Jazz      | Hatchback   |  2013  | 178000000 |
|    36    | Honda    | Honda CR-V      | SUV         |  2018  | 415000000 |
|    37    | Honda    | Honda CR-V      | SUV         |  2017  | 345000000 |
|    38    | Honda    | Honda CR-V      | SUV         |  2009  | 116000000 |
|    39    | Honda    | Honda CR-V      | SUV         |  2016  | 269000000 |
|    40    | Honda    | Honda CR-V      | SUV         |  2018  | 398500000 |
|    41    | Honda    | Honda Civic     | Hatchback   |  2018  | 350000000 |
|    42    | Honda    | Honda Civic     | Sedan       |  2010  | 165000000 |
|    43    | Honda    | Honda Civic     | Sedan       |  2013  | 186000000 |
|    44    | Honda    | Honda Civic     | Sedan       |  2013  | 179000000 |
|    45    | Honda    | Honda Civic     | Hatchback   |  2019  | 397500000 |
|    46    | Suzuki   | Suzuki Ertiga   | MPV         |  2015  | 125000000 |
|    47    | Suzuki   | Suzuki Ertiga   | MPV         |  2018  | 178000000 |
|    48    | Suzuki   | Suzuki Ertiga   | MPV         |  2016  | 168000000 |
|    49    | Suzuki   | Suzuki Ertiga   | MPV         |  2012  | 100000000 |
|    50    | Suzuki   | Suzuki Ertiga   | MPV         |  2018  | 167000000 |
+----------+----------+-----------------+-------------+--------+-----------+

In [93]:
def product_generator(n_car, car_table, is_print):
    """
    Fungsi untuk membuat dummy dataset tabel cars
    header:
        - car_id
        - user_id
        - brand
        - model
        - colour
        - body_type
        - car_type 
        - year
        - price
        - photo

    args:
        - n_car (int) : jumlah mobil yang ingin dibuat
        - user_table (list) : list dictionary data users
        - car_csv (list) : list dictionary data mobil yang sudah disediakan 
        - is_print (bool) : jika True akan menampilkan hasil data

    return:
        - table  (list) 
    """
    
     # List of car transmision
    car_type = ['Automatic', 'Manual']
    
    # Create table
    table = {}
    table["car_id"] = [i for i in car_table["car_id"]]
    table["user_id"] = [random.randint(1, 20) for i in range(n_car)]
    table["brand"] = [i for i in car_table["brand"]]
    table["model"] = [i for i in car_table["model"]]
    table["body_type"] = [i for i in car_table["body_type"]]
    table["car_type"] = [random.choice(car_type) for i in range(n_car)]
    table["year"] = [i for i in car_table["year"]]
    table["price"] = [i for i in car_table["price"]]
    table["photo"] = [FAKER.image_url() for i in range(n_car)]


    # Print table
    if is_print:
        show_data(table)

    return table

In [94]:
car_table = product_generator(50, car_csv, True)

+----------+-----------+----------+-----------------+-------------+------------+--------+-----------+----------------------------------+
|  car_id  |  user_id  | brand    | model           | body_type   | car_type   |  year  |   price   | photo                            |
|----------+-----------+----------+-----------------+-------------+------------+--------+-----------+----------------------------------|
|    1     |     9     | Toyota   | Toyota Yaris    | Hatchback   | Manual     |  2016  | 175000000 | https://placekitten.com/953/320  |
|    2     |    13     | Toyota   | Toyota Yaris    | Hatchback   | Manual     |  2018  | 215000000 | https://picsum.photos/214/946    |
|    3     |     3     | Toyota   | Toyota Yaris    | Hatchback   | Automatic  |  2014  | 162000000 | https://dummyimage.com/239x218   |
|    4     |    20     | Toyota   | Toyota Yaris    | Hatchback   | Automatic  |  2020  | 220000000 | https://placekitten.com/510/668  |
|    5     |     8     | Toyota   | Toyota Yaris    | Hatchback   | Manual     |  2012  | 124000000 | https://placekitten.com/158/567  |
|    6     |     9     | Toyota   | Toyota Agya     | Hatchback   | Automatic  |  2019  | 114000000 | https://dummyimage.com/654x77    |
|    7     |    15     | Toyota   | Toyota Agya     | Hatchback   | Automatic  |  2014  | 97000000  | https://placekitten.com/866/786  |
|    8     |    12     | Toyota   | Toyota Agya     | Hatchback   | Manual     |  2016  | 110000000 | https://placekitten.com/670/942  |
|    9     |     7     | Toyota   | Toyota Agya     | Hatchback   | Automatic  |  2022  | 155500000 | https://dummyimage.com/149x657   |
|    10    |    12     | Toyota   | Toyota Agya     | Hatchback   | Manual     |  2017  | 115500000 | https://picsum.photos/576/891    |
|    11    |     4     | Toyota   | Toyota Calya    | Wagon       | Automatic  |  2019  | 130000000 | https://placekitten.com/844/757  |
|    12    |     4     | Toyota   | Toyota Calya    | Wagon       | Automatic  |  2019  | 137000000 | https://picsum.photos/368/788    |
|    13    |    17     | Toyota   | Toyota Calya    | Wagon       | Manual     |  2017  | 115500000 | https://dummyimage.com/537x657   |
|    14    |    10     | Toyota   | Toyota Calya    | Wagon       | Automatic  |  2016  | 104000000 | https://picsum.photos/826/302    |
|    15    |     4     | Toyota   | Toyota Calya    | Wagon       | Automatic  |  2016  | 107000000 | https://picsum.photos/903/924    |
|    16    |     6     | Daihatsu | Daihatsu Ayla   | Hatchback   | Automatic  |  2016  | 83000000  | https://picsum.photos/298/1019   |
|    17    |     8     | Daihatsu | Daihatsu Ayla   | Hatchback   | Automatic  |  2019  | 120000000 | https://placekitten.com/384/991  |
|    18    |    13     | Daihatsu | Daihatsu Ayla   | Hatchback   | Manual     |  2015  | 96000000  | https://picsum.photos/117/384    |
|    19    |     8     | Daihatsu | Daihatsu Ayla   | Hatchback   | Automatic  |  2017  | 115000000 | https://placekitten.com/133/286  |
|    20    |     8     | Daihatsu | Daihatsu Ayla   | Hatchback   | Automatic  |  2017  | 113000000 | https://dummyimage.com/670x128   |
|    21    |    13     | Daihatsu | Daihatsu Terios | SUV         | Manual     |  2018  | 190000000 | https://placekitten.com/470/362  |
|    22    |    13     | Daihatsu | Daihatsu Terios | SUV         | Automatic  |  2022  | 223000000 | https://placekitten.com/735/80   |
|    23    |    16     | Daihatsu | Daihatsu Terios | SUV         | Automatic  |  2019  | 189900000 | https://picsum.photos/888/35     |
|    24    |    16     | Daihatsu | Daihatsu Terios | SUV         | Manual     |  2017  | 166000000 | https://placekitten.com/500/301  |
|    25    |    12     | Daihatsu | Daihatsu Terios | SUV         | Manual     |  2018  | 201000000 | https://picsum.photos/264/207    |
|    26    |    13     | Daihatsu | Daihatsu Xenia  | MPV         | Automatic  |  2019  | 170000000 | https://picsum.photos/313/769    |
|    27    |    18     | Daihatsu | Daihatsu Xenia  | MPV         | Automatic  |  2022  | 220500000 | https://dummyimage.com/162x899   |
|    28    |    11     | Daihatsu | Daihatsu Xenia  | MPV         | Manual     |  2017  | 135000000 | https://dummyimage.com/68x1019   |
|    29    |    11     | Daihatsu | Daihatsu Xenia  | MPV         | Manual     |  2014  | 100000000 | https://placekitten.com/51/677   |
|    30    |     7     | Daihatsu | Daihatsu Xenia  | MPV         | Automatic  |  2018  | 159000000 | https://placekitten.com/773/838  |
|    31    |    10     | Honda    | Honda Jazz      | Hatchback   | Automatic  |  2018  | 236000000 | https://placekitten.com/463/1007 |
|    32    |    18     | Honda    | Honda Jazz      | Hatchback   | Automatic  |  2019  | 250000000 | https://picsum.photos/315/261    |
|    33    |    13     | Honda    | Honda Jazz      | Hatchback   | Manual     |  2018  | 216000000 | https://picsum.photos/97/500     |
|    34    |     2     | Honda    | Honda Jazz      | Hatchback   | Automatic  |  2015  | 192000000 | https://dummyimage.com/889x468   |
|    35    |    12     | Honda    | Honda Jazz      | Hatchback   | Automatic  |  2013  | 178000000 | https://dummyimage.com/582x738   |
|    36    |    18     | Honda    | Honda CR-V      | SUV         | Manual     |  2018  | 415000000 | https://picsum.photos/507/577    |
|    37    |    12     | Honda    | Honda CR-V      | SUV         | Manual     |  2017  | 345000000 | https://picsum.photos/25/471     |
|    38    |    15     | Honda    | Honda CR-V      | SUV         | Automatic  |  2009  | 116000000 | https://picsum.photos/77/401     |
|    39    |    12     | Honda    | Honda CR-V      | SUV         | Manual     |  2016  | 269000000 | https://dummyimage.com/714x60    |
|    40    |    15     | Honda    | Honda CR-V      | SUV         | Manual     |  2018  | 398500000 | https://dummyimage.com/306x955   |
|    41    |     4     | Honda    | Honda Civic     | Hatchback   | Manual     |  2018  | 350000000 | https://dummyimage.com/137x396   |
|    42    |    19     | Honda    | Honda Civic     | Sedan       | Manual     |  2010  | 165000000 | https://placekitten.com/35/214   |
|    43    |     9     | Honda    | Honda Civic     | Sedan       | Manual     |  2013  | 186000000 | https://dummyimage.com/38x820    |
|    44    |    18     | Honda    | Honda Civic     | Sedan       | Manual     |  2013  | 179000000 | https://dummyimage.com/594x87    |
|    45    |    18     | Honda    | Honda Civic     | Hatchback   | Manual     |  2019  | 397500000 | https://placekitten.com/248/243  |
|    46    |    18     | Suzuki   | Suzuki Ertiga   | MPV         | Automatic  |  2015  | 125000000 | https://picsum.photos/884/658    |
|    47    |    10     | Suzuki   | Suzuki Ertiga   | MPV         | Manual     |  2018  | 178000000 | https://placekitten.com/139/219  |
|    48    |    16     | Suzuki   | Suzuki Ertiga   | MPV         | Manual     |  2016  | 168000000 | https://picsum.photos/778/667    |
|    49    |     1     | Suzuki   | Suzuki Ertiga   | MPV         | Automatic  |  2012  | 100000000 | https://picsum.photos/708/866    |
|    50    |     5     | Suzuki   | Suzuki Ertiga   | MPV         | Manual     |  2018  | 167000000 | https://picsum.photos/805/247    |
+----------+-----------+----------+-----------------+-------------+------------+--------+-----------+----------------------------------+

### 4. Dummy data tabel advertisements

In [54]:
def advertisement_generator(n_advertisement, car_table, is_print):
    """
    Fungsi untuk membuat dummy dataset tabel advertisements
    header:
        - advertisement_id
        - car_id
        - title
        - description
        - bid_feature

    args:
        - n_ads (int) : Jumlah iklan yang ingin Anda buat
        - car_table (list) : daftar data mobil dictionary
        - is_print (bool) : Jika True akan menampilkan hasil datanya

    return:
        - table  (list) :
    """


    # Create table
    table = {}
    table["advertisement_id"] = [i+1 for i in range(n_advertisement)]
    table["car_id"] = [i for i in car_table_fix["car_id"]]
    table["title"] = [FAKER.text(max_nb_chars=20) for i in range(n_advertisement)]
    table["description"] = [FAKER.sentence(nb_words=10, variable_nb_words=True) for i in range(n_advertisement)]
    table["bid_feature"] = random.choices([True, False], weights=(0.9, 0.1), k=n_advertisement)


    # Print table
    if is_print:
        show_data(table)

    return table

In [55]:
advertisement_table = advertisement_generator(50, car_table_fix, True)

+--------------------+----------+----------------------+-----------------------------------------------------------------------------------------------------------------+---------------+
|  advertisement_id  |  car_id  | title                | description                                                                                                     | bid_feature   |
|--------------------+----------+----------------------+-----------------------------------------------------------------------------------------------------------------+---------------|
|         1          |    1     | Et placeat vel.      | Incidunt quas beatae reiciendis voluptas assumenda harum sunt corporis.                                         | True          |
|         2          |    2     | Iure id odio totam.  | Fugiat ullam ut aspernatur deserunt quia ab nisi nostrum atque consectetur itaque.                              | True          |
|         3          |    3     | Aut tenetur vero.    | At fuga veniam vel voluptatibus commodi cumque nostrum ducimus.                                                 | True          |
|         4          |    4     | Esse error quas.     | Pariatur officia architecto corporis ut commodi.                                                                | True          |
|         5          |    5     | Tempore labore quia. | Quam voluptatibus enim accusantium provident possimus aliquam nobis et animi culpa corrupti aliquam.            | True          |
|         6          |    6     | Hic aut dolore ipsa. | Quis dolor velit labore error dolore eum culpa assumenda consequuntur in enim.                                  | True          |
|         7          |    7     | Voluptatum ex est.   | Dolores consectetur ipsa esse voluptate omnis autem atque pariatur nisi.                                        | True          |
|         8          |    8     | Fuga suscipit.       | Doloribus voluptatibus quaerat quia debitis sed aut accusantium quod dolore fugiat et dolor.                    | True          |
|         9          |    9     | Eos non dicta porro. | Et dolorum quia recusandae voluptatibus magni quo quae nisi mollitia explicabo expedita quo.                    | True          |
|         10         |    10    | Minima inventore.    | Odit qui sunt nam deserunt necessitatibus tempora incidunt earum porro cupiditate.                              | True          |
|         11         |    11    | Voluptatem nulla.    | Dicta culpa doloribus a quis ad earum quasi id.                                                                 | True          |
|         12         |    12    | Cum suscipit.        | Libero voluptate neque itaque vel odit quaerat numquam odit quidem quas animi expedita.                         | True          |
|         13         |    13    | Aliquid suscipit.    | Vel et culpa neque voluptate nemo doloremque non amet quam explicabo corrupti.                                  | True          |
|         14         |    14    | Tenetur maiores.     | Provident eos similique quas expedita in iure velit.                                                            | True          |
|         15         |    15    | Eos unde eveniet.    | Est ducimus sint excepturi dolore laborum eveniet.                                                              | True          |
|         16         |    16    | Quam sapiente quia.  | Neque praesentium minus odio doloremque placeat dolor assumenda sit omnis.                                      | True          |
|         17         |    17    | Incidunt fugit.      | Perspiciatis itaque modi quos qui vel ipsa quaerat.                                                             | True          |
|         18         |    18    | Laudantium eaque in. | Ratione repudiandae iusto molestiae dolorum ex.                                                                 | True          |
|         19         |    19    | Eos eos rem dolor.   | Consectetur beatae illum reprehenderit fuga impedit ut aliquam quos consectetur.                                | True          |
|         20         |    20    | Rerum velit.         | Qui minima perferendis nemo eius tempore deserunt expedita placeat porro totam totam.                           | True          |
|         21         |    21    | Similique neque.     | Doloribus maiores nisi qui dolor molestias.                                                                     | True          |
|         22         |    22    | Iure vel dicta.      | Debitis accusantium quisquam ratione molestias quis explicabo ipsam beatae est corporis.                        | True          |
|         23         |    23    | Rerum vero sunt.     | Adipisci error illum magnam veritatis ratione deserunt quos minima voluptas.                                    | True          |
|         24         |    24    | Soluta provident.    | Voluptas pariatur reprehenderit accusamus neque tempora quod quam sunt inventore.                               | True          |
|         25         |    25    | Molestias.           | Porro eligendi error quaerat vel ipsam magnam possimus sequi quaerat nihil perspiciatis odit.                   | True          |
|         26         |    26    | Amet ex molestiae.   | Enim occaecati maiores iusto itaque facere facere nobis maiores.                                                | True          |
|         27         |    27    | Illo pariatur saepe. | Odio praesentium tempore nihil expedita dolor quam necessitatibus beatae commodi consequatur quibusdam officia. | False         |
|         28         |    28    | Natus deleniti.      | Facilis distinctio quos consectetur ullam ipsam quia laboriosam.                                                | True          |
|         29         |    29    | Aspernatur quis.     | Quo quod officia quidem dolores fuga.                                                                           | True          |
|         30         |    30    | Accusamus sed.       | Voluptatum ipsum debitis excepturi sunt reiciendis aspernatur soluta qui.                                       | True          |
|         31         |    31    | Doloremque deserunt. | Quod vel reiciendis fugit accusamus aut molestiae deserunt molestias sit autem blanditiis laborum.              | True          |
|         32         |    32    | Deserunt culpa iste. | Amet aut dolores sed laudantium voluptates in iusto.                                                            | True          |
|         33         |    33    | Possimus doloribus.  | Ex voluptas at temporibus labore sed quis molestias.                                                            | True          |
|         34         |    34    | Optio sunt esse sed. | Autem repudiandae facilis quibusdam nihil maiores deleniti nisi accusamus vitae dolorem iusto.                  | True          |
|         35         |    35    | Amet facere fugiat.  | At quaerat iure ad dignissimos aperiam vel vitae.                                                               | True          |
|         36         |    36    | Possimus rerum.      | Maxime vero ipsam facere consequatur eveniet temporibus commodi earum dolore.                                   | True          |
|         37         |    37    | Distinctio ex.       | Recusandae laboriosam excepturi eum eos natus veniam et quisquam voluptatum illum autem.                        | False         |
|         38         |    38    | Ipsam voluptas.      | Nisi pariatur incidunt ullam voluptates ipsam repellendus sed dolore.                                           | True          |
|         39         |    39    | Quos illum.          | Enim ut in dolorum minima doloribus excepturi magnam aspernatur quae sequi libero excepturi.                    | True          |
|         40         |    40    | Numquam dolor rem.   | Eos inventore doloremque ea quasi iusto error consequuntur.                                                     | False         |
|         41         |    41    | Ullam itaque odit.   | Sint laborum deserunt maxime maiores at architecto exercitationem veritatis occaecati adipisci esse.            | True          |
|         42         |    42    | Doloremque itaque.   | Illum natus cumque dignissimos doloremque voluptas odio quisquam qui soluta facilis magnam.                     | True          |
|         43         |    43    | Repudiandae hic.     | Nostrum esse deleniti aut illum dolore consectetur explicabo voluptatem.                                        | True          |
|         44         |    44    | Ad autem et.         | Quas fugit voluptatibus corrupti quasi error consectetur nam voluptas illum placeat aliquid.                    | True          |
|         45         |    45    | At fugit ipsa.       | Perspiciatis dolorum quidem dolore dolor asperiores repellendus.                                                | True          |
|         46         |    46    | Expedita suscipit.   | Eligendi necessitatibus fugit impedit odio excepturi iure.                                                      | True          |
|         47         |    47    | Nam aliquam culpa.   | Labore recusandae sint quam repellat itaque quod doloribus aliquam minus deleniti maxime nam.                   | True          |
|         48         |    48    | Temporibus.          | Expedita quo possimus ab rem excepturi pariatur.                                                                | True          |
|         49         |    49    | Saepe quod deserunt. | Itaque praesentium cumque architecto vel voluptatum culpa fugit nulla.                                          | True          |
|         50         |    50    | Quasi quasi atque.   | Harum soluta ab veniam tempora repellendus iste veniam eos explicabo explicabo maiores.                         | False         |
+--------------------+----------+----------------------+-----------------------------------------------------------------------------------------------------------------+---------------+

### 5. Dummy data tabel bids

In [62]:
def bid_generator(n_bid, user_table, advertisement_table, is_print):
    """
   Fungsi untuk membuat dummy data tabel bids
    header:
        - bid_id
        - advertisement_id
        - user_id
        - bid_price

    args:
        - n_bid (int) : Jumlah penawaran yang ingin Anda buat
        - user_table (list) : list dictionary data users
        - advertisement_table (list) : list dictionary data advertisement 
        - is_print (bool) : Jika True akan menampilkan hasil datanya
        
    return:
        - table  (list) 
    """


    # Create table
    table = {}
    table["bid_id"] = [i+1 for i in range(n_bid)]
    table["advertisement_id"] = [random.choice(advertisement_table['advertisement_id']) for i in range(n_bid)]
    table["user_id"] = [random.choice(user_table['user_id']) for i in range(n_bid)]
    table['bid_price'] = [random.randint(80_000_000,120_000_000) for i in range(n_bid)]
    table['bid_price'] = [price - (price % 1_000_000) for price in table['bid_price']]


    # Print table
    if is_print:
        show_data(table)
    return table

In [64]:
bid_table = bid_generator(100, users_table, advertisement_table, True)

+----------+--------------------+-----------+-------------+
|  bid_id  |  advertisement_id  |  user_id  |  bid_price  |
|----------+--------------------+-----------+-------------|
|    1     |         18         |    26     |  90000000   |
|    2     |         46         |    30     |  94000000   |
|    3     |         17         |    24     |  85000000   |
|    4     |         10         |    22     |  80000000   |
|    5     |         1          |     5     |  87000000   |
|    6     |         27         |     1     |  99000000   |
|    7     |         20         |    19     |  82000000   |
|    8     |         48         |    20     |  89000000   |
|    9     |         40         |    39     |  86000000   |
|    10    |         6          |    25     |  110000000  |
|    11    |         25         |    31     |  103000000  |
|    12    |         15         |     3     |  94000000   |
|    13    |         30         |    19     |  82000000   |
|    14    |         27         |    22     |  90000000   |
|    15    |         40         |    16     |  90000000   |
|    16    |         48         |     6     |  84000000   |
|    17    |         10         |    15     |  93000000   |
|    18    |         1          |    36     |  93000000   |
|    19    |         38         |    16     |  104000000  |
|    20    |         35         |     6     |  88000000   |
|    21    |         14         |    31     |  108000000  |
|    22    |         44         |     9     |  99000000   |
|    23    |         19         |    38     |  109000000  |
|    24    |         13         |     5     |  110000000  |
|    25    |         20         |    28     |  89000000   |
|    26    |         4          |    31     |  109000000  |
|    27    |         42         |     5     |  110000000  |
|    28    |         50         |    21     |  107000000  |
|    29    |         5          |     7     |  88000000   |
|    30    |         27         |    16     |  101000000  |
|    31    |         18         |    11     |  113000000  |
|    32    |         50         |     5     |  96000000   |
|    33    |         30         |    10     |  91000000   |
|    34    |         44         |    29     |  84000000   |
|    35    |         42         |    31     |  90000000   |
|    36    |         33         |    35     |  106000000  |
|    37    |         34         |    22     |  115000000  |
|    38    |         29         |    12     |  98000000   |
|    39    |         7          |    33     |  116000000  |
|    40    |         27         |     3     |  88000000   |
|    41    |         7          |    20     |  99000000   |
|    42    |         9          |    15     |  85000000   |
|    43    |         36         |     1     |  91000000   |
|    44    |         45         |    25     |  103000000  |
|    45    |         48         |     3     |  96000000   |
|    46    |         14         |    35     |  96000000   |
|    47    |         39         |     3     |  83000000   |
|    48    |         36         |    13     |  85000000   |
|    49    |         50         |    28     |  83000000   |
|    50    |         35         |    34     |  99000000   |
|    51    |         13         |    37     |  114000000  |
|    52    |         34         |     7     |  83000000   |
|    53    |         23         |    18     |  80000000   |
|    54    |         24         |    18     |  110000000  |
|    55    |         7          |     3     |  82000000   |
|    56    |         14         |    28     |  104000000  |
|    57    |         42         |    39     |  93000000   |
|    58    |         8          |     9     |  114000000  |
|    59    |         30         |    28     |  113000000  |
|    60    |         2          |    40     |  119000000  |
|    61    |         18         |    35     |  97000000   |
|    62    |         25         |     3     |  117000000  |
|    63    |         27         |     8     |  100000000  |
|    64    |         2          |     4     |  108000000  |
|    65    |         44         |    21     |  113000000  |
|    66    |         39         |    14     |  80000000   |
|    67    |         48         |     2     |  87000000   |
|    68    |         18         |    28     |  87000000   |
|    69    |         16         |    10     |  87000000   |
|    70    |         14         |    22     |  104000000  |
|    71    |         12         |     5     |  88000000   |
|    72    |         15         |    18     |  94000000   |
|    73    |         23         |    19     |  82000000   |
|    74    |         50         |    13     |  96000000   |
|    75    |         36         |     6     |  82000000   |
|    76    |         3          |    34     |  81000000   |
|    77    |         3          |     8     |  80000000   |
|    78    |         45         |     9     |  89000000   |
|    79    |         6          |    11     |  98000000   |
|    80    |         43         |    37     |  82000000   |
|    81    |         21         |     5     |  86000000   |
|    82    |         6          |    13     |  102000000  |
|    83    |         20         |    10     |  101000000  |
|    84    |         30         |    22     |  99000000   |
|    85    |         6          |    17     |  83000000   |
|    86    |         40         |    10     |  117000000  |
|    87    |         35         |     3     |  94000000   |
|    88    |         24         |    32     |  88000000   |
|    89    |         19         |    36     |  93000000   |
|    90    |         9          |     6     |  87000000   |
|    91    |         10         |     7     |  94000000   |
|    92    |         34         |     7     |  112000000  |
|    93    |         22         |    38     |  114000000  |
|    94    |         17         |    36     |  90000000   |
|    95    |         34         |    36     |  99000000   |
|    96    |         3          |     8     |  108000000  |
|    97    |         22         |    24     |  84000000   |
|    98    |         50         |    28     |  99000000   |
|    99    |         30         |     6     |  101000000  |
|   100    |         42         |     9     |  82000000   |
+----------+--------------------+-----------+-------------+

### 6. Dummy data tabel bid_details

In [46]:
def generate_status(bid_table):
    """
   Fungsi untuk membuat status bid
    Contoh:
    bid_id modulus 9 status bid 'Sent' & 'Rejected'
    bid_id modulus 5 status bid 'Sent' 'Accepted'
    the rest is 'Sent'

    args:
    - bid_table (list): list dari dictionary data bid 
    returns:
    list (list) : kombinasi bid_id dan status
    """

    list_status = list()

    # Define start date
    start_date = datetime(2023, 6, 1)

    # Define end date
    end_date = datetime(2024, 4, 30, 23, 59, 59)

    for i in bid_table['bid_id']:
        if (i % 9 == 0):
            for j in ['Sent', 'Rejected']:
                bid_id = i
                status = j
                created_at = FAKER.date_time_between(start_date, end_date)
                data = f'{bid_id} {status} {created_at}'
                list_status.append(data)
        elif (i % 5 == 0):
            for j in ['Sent', 'Accepted']:
                bid_id = i
                status = j
                created_at = FAKER.date_time_between(start_date, end_date)
                data = f'{bid_id} {status} {created_at}'
                list_status.append(data)
        else:
            bid_id = i
            status = 'Sent'
            created_at = FAKER.date_time_between(start_date, end_date)
            data = f'{bid_id} {status} {created_at}'
            list_status.append(data)

    return list_status

In [85]:
def generate_bid_details(bid_table, is_print):
    """
    Fungsi untuk membuat dummy data tabel bid_details
    header:
        - bid_detail_id
        - bid_id
        - label
        - created_at

    args:
        - bid_table (list) : list of dictionary bid data
        - is_print (bool) : If True will display the data results

    return:
        - table  (list) :
    """

    # Create table
    table = {}
    list_status = generate_status(bid_table)
    table["bid_detail_id"] = [i+1 for i in range(110, 110+len(list_status))]
    table["bid_id"] = [i.split(' ')[0] for i in list_status]
    table["label"] = [i.split(' ')[1] for i in list_status]
    table['created_at'] = [f"{i.split(' ')[2]} {i.split(' ')[3]}" for i in list_status]

    # Print table
    if is_print:
        show_data(table)
    return table

In [84]:
bid_details_table = generate_bid_details(bid_table, True)

+-----------------+----------+----------+---------------------+
|  bid_detail_id  |  bid_id  | label    | created_at          |
|-----------------+----------+----------+---------------------|
|       111       |    1     | Sent     | 2023-09-17 09:28:38 |
|       112       |    2     | Sent     | 2023-10-24 17:40:57 |
|       113       |    3     | Sent     | 2023-08-09 01:38:24 |
|       114       |    4     | Sent     | 2023-06-12 22:24:16 |
|       115       |    5     | Sent     | 2023-07-24 09:55:15 |
|       116       |    5     | Accepted | 2023-11-08 13:44:56 |
|       117       |    6     | Sent     | 2024-01-06 09:18:23 |
|       118       |    7     | Sent     | 2023-07-02 18:43:43 |
|       119       |    8     | Sent     | 2023-12-17 03:00:36 |
|       120       |    9     | Sent     | 2023-07-21 16:14:06 |
|       121       |    9     | Rejected | 2024-01-14 04:41:50 |
|       122       |    10    | Sent     | 2023-11-28 18:12:01 |
|       123       |    10    | Accepted | 2023-10-11 06:01:58 |
|       124       |    11    | Sent     | 2024-02-20 10:42:03 |
|       125       |    12    | Sent     | 2023-08-02 15:47:55 |
|       126       |    13    | Sent     | 2023-11-21 17:55:15 |
|       127       |    14    | Sent     | 2023-06-09 22:05:45 |
|       128       |    15    | Sent     | 2023-12-30 19:53:47 |
|       129       |    15    | Accepted | 2023-06-29 06:05:31 |
|       130       |    16    | Sent     | 2023-12-08 19:03:53 |
|       131       |    17    | Sent     | 2023-07-08 22:35:25 |
|       132       |    18    | Sent     | 2024-02-04 12:04:30 |
|       133       |    18    | Rejected | 2023-12-17 19:57:32 |
|       134       |    19    | Sent     | 2024-03-01 00:10:13 |
|       135       |    20    | Sent     | 2024-03-20 12:14:18 |
|       136       |    20    | Accepted | 2024-01-24 14:13:20 |
|       137       |    21    | Sent     | 2024-04-30 19:57:05 |
|       138       |    22    | Sent     | 2024-04-13 12:06:41 |
|       139       |    23    | Sent     | 2024-04-21 08:24:14 |
|       140       |    24    | Sent     | 2024-01-28 19:09:06 |
|       141       |    25    | Sent     | 2023-10-04 20:13:52 |
|       142       |    25    | Accepted | 2024-01-24 17:04:31 |
|       143       |    26    | Sent     | 2023-12-17 22:55:35 |
|       144       |    27    | Sent     | 2023-10-29 09:26:09 |
|       145       |    27    | Rejected | 2023-09-27 10:19:06 |
|       146       |    28    | Sent     | 2023-08-08 06:14:55 |
|       147       |    29    | Sent     | 2023-07-23 09:53:20 |
|       148       |    30    | Sent     | 2024-03-29 18:45:31 |
|       149       |    30    | Accepted | 2023-06-09 08:32:08 |
|       150       |    31    | Sent     | 2023-11-26 06:58:19 |
|       151       |    32    | Sent     | 2023-09-06 02:23:11 |
|       152       |    33    | Sent     | 2024-01-15 12:15:40 |
|       153       |    34    | Sent     | 2023-09-23 07:42:44 |
|       154       |    35    | Sent     | 2023-12-31 02:38:47 |
|       155       |    35    | Accepted | 2023-12-29 04:15:38 |
|       156       |    36    | Sent     | 2023-06-16 04:57:40 |
|       157       |    36    | Rejected | 2024-03-13 22:11:56 |
|       158       |    37    | Sent     | 2023-08-05 10:52:02 |
|       159       |    38    | Sent     | 2024-03-04 18:40:33 |
|       160       |    39    | Sent     | 2023-11-14 01:44:06 |
|       161       |    40    | Sent     | 2024-02-24 13:19:46 |
|       162       |    40    | Accepted | 2023-11-29 20:32:13 |
|       163       |    41    | Sent     | 2023-12-07 13:28:33 |
|       164       |    42    | Sent     | 2023-11-09 22:58:11 |
|       165       |    43    | Sent     | 2023-06-11 21:50:29 |
|       166       |    44    | Sent     | 2023-12-22 15:33:35 |
|       167       |    45    | Sent     | 2023-10-19 05:57:51 |
|       168       |    45    | Rejected | 2024-03-04 07:56:48 |
|       169       |    46    | Sent     | 2024-03-14 13:26:55 |
|       170       |    47    | Sent     | 2024-01-08 12:11:08 |
|       171       |    48    | Sent     | 2023-06-24 19:48:25 |
|       172       |    49    | Sent     | 2023-08-21 16:19:49 |
|       173       |    50    | Sent     | 2023-07-23 06:47:47 |
|       174       |    50    | Accepted | 2023-09-13 12:22:15 |
|       175       |    51    | Sent     | 2023-07-29 11:45:50 |
|       176       |    52    | Sent     | 2024-04-09 18:36:21 |
|       177       |    53    | Sent     | 2023-06-10 00:19:36 |
|       178       |    54    | Sent     | 2023-12-18 20:02:24 |
|       179       |    54    | Rejected | 2024-04-25 11:04:19 |
|       180       |    55    | Sent     | 2023-07-27 20:25:52 |
|       181       |    55    | Accepted | 2023-09-13 13:51:59 |
|       182       |    56    | Sent     | 2024-04-03 09:28:06 |
|       183       |    57    | Sent     | 2023-09-19 18:46:50 |
|       184       |    58    | Sent     | 2023-08-09 01:58:34 |
|       185       |    59    | Sent     | 2024-01-27 20:24:57 |
|       186       |    60    | Sent     | 2023-11-22 18:15:23 |
|       187       |    60    | Accepted | 2024-01-13 08:18:07 |
|       188       |    61    | Sent     | 2024-04-22 17:31:47 |
|       189       |    62    | Sent     | 2023-06-22 03:26:32 |
|       190       |    63    | Sent     | 2023-11-14 04:27:56 |
|       191       |    63    | Rejected | 2023-07-03 09:15:57 |
|       192       |    64    | Sent     | 2023-10-12 05:36:12 |
|       193       |    65    | Sent     | 2023-06-09 01:23:55 |
|       194       |    65    | Accepted | 2023-10-17 23:13:09 |
|       195       |    66    | Sent     | 2023-11-09 17:44:13 |
|       196       |    67    | Sent     | 2023-10-29 21:48:59 |
|       197       |    68    | Sent     | 2023-08-23 20:45:47 |
|       198       |    69    | Sent     | 2023-12-14 09:47:25 |
|       199       |    70    | Sent     | 2024-01-31 09:17:40 |
|       200       |    70    | Accepted | 2024-04-09 04:40:50 |
|       201       |    71    | Sent     | 2023-12-09 00:19:55 |
|       202       |    72    | Sent     | 2024-04-24 00:30:54 |
|       203       |    72    | Rejected | 2023-09-05 01:17:57 |
|       204       |    73    | Sent     | 2023-09-03 19:04:46 |
|       205       |    74    | Sent     | 2023-12-17 21:51:03 |
|       206       |    75    | Sent     | 2023-08-22 13:12:27 |
|       207       |    75    | Accepted | 2023-07-16 07:44:34 |
|       208       |    76    | Sent     | 2023-08-25 15:59:53 |
|       209       |    77    | Sent     | 2023-06-24 22:57:04 |
|       210       |    78    | Sent     | 2023-11-16 19:24:42 |
|       211       |    79    | Sent     | 2023-09-14 17:13:18 |
|       212       |    80    | Sent     | 2023-11-18 06:01:20 |
|       213       |    80    | Accepted | 2023-11-19 17:23:06 |
|       214       |    81    | Sent     | 2024-03-01 19:34:37 |
|       215       |    81    | Rejected | 2024-02-16 03:29:55 |
|       216       |    82    | Sent     | 2024-01-23 03:03:12 |
|       217       |    83    | Sent     | 2023-07-04 16:16:10 |
|       218       |    84    | Sent     | 2023-12-07 05:25:49 |
|       219       |    85    | Sent     | 2023-10-31 16:52:51 |
|       220       |    85    | Accepted | 2023-07-25 23:12:06 |
|       221       |    86    | Sent     | 2023-11-24 05:33:20 |
|       222       |    87    | Sent     | 2023-07-28 06:47:57 |
|       223       |    88    | Sent     | 2024-03-16 12:08:01 |
|       224       |    89    | Sent     | 2023-07-24 23:43:09 |
|       225       |    90    | Sent     | 2024-04-21 07:31:53 |
|       226       |    90    | Rejected | 2023-07-03 22:17:00 |
|       227       |    91    | Sent     | 2024-01-10 00:52:57 |
|       228       |    92    | Sent     | 2023-09-07 01:46:31 |
|       229       |    93    | Sent     | 2024-03-26 23:26:06 |
|       230       |    94    | Sent     | 2024-01-28 19:36:48 |
|       231       |    95    | Sent     | 2023-08-25 03:26:50 |
|       232       |    95    | Accepted | 2024-02-20 02:35:59 |
|       233       |    96    | Sent     | 2024-04-24 10:46:55 |
|       234       |    97    | Sent     | 2023-06-10 16:06:58 |
|       235       |    98    | Sent     | 2023-06-26 22:44:48 |
|       236       |    99    | Sent     | 2023-11-25 19:15:33 |
|       237       |    99    | Rejected | 2024-03-07 13:41:30 |
|       238       |   100    | Sent     | 2024-02-18 16:00:57 |
|       239       |   100    | Accepted | 2023-11-07 12:05:31 |
+-----------------+----------+----------+---------------------+

## Menyimpan file dalam bentuk csv

In [86]:
def save_to_csv(data, nama_file):
    '''
    Fungsi untuk menyimpan data dummy ke csv

    args:
      - data (list): list of dictionary data yang akan dijadikan csv
      - file_name (str) : nama untuk file csv

    returns:
      - None
    '''

    # Membuat file csv
    with open(file = f"{nama_file}.csv", mode = 'w', newline = '') as csv_file:
        # Membuat writer csv
        writer = csv.writer(csv_file)

        # Membuat header csv
        writer.writerow(list(data.keys()))

        # Mengetahui panjang data
        len_data = len(list(data.items())[0][1])

        # write data ke file csv
        for i in range(len_data):
            row = []
            for key in data.keys():
                row.append(data[key][i])
            writer.writerow(row)

In [87]:
save_to_csv(data = users_table,
            nama_file='users')

In [95]:
save_to_csv(data = car_table,
            nama_file='cars_table')

In [90]:
save_to_csv(data = advertisement_table,
            nama_file='advertisements')

In [91]:
save_to_csv(data = bid_table,
            nama_file='bids')

In [92]:
save_to_csv(data = bid_details_table,
            nama_file='bid_details')